# To ignore files already trucked by git.
# git update-index --assume-unchanged

build/*
config/*
data/*
dist/*
logs/*
node/node_modules/*
node/config.js
webroot/itemimage/*
webroot/blog/wp-content/uploads
webroot/blog/wp-config.php