<meta charset="utf-8" />
<title>listers.in - <%= __('eBayListingSoftware') %></title>

<meta name="description" content="overview &amp; stats" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- basic styles -->

<link href="/ace/assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/ace/assets/css/font-awesome.min.css" />

<!--[if IE 7]>
<link rel="stylesheet" href="/ace/assets/css/font-awesome-ie7.min.css" />
<![endif]-->

<!-- page specific plugin styles -->
<link rel="stylesheet" href="assets/css/colorbox.css" />
<link rel="stylesheet" type="text/css" href="/js/jwysiwyg/jquery.wysiwyg.css">
<link rel="stylesheet" type="text/css" href="/js/redactor/redactor.css">

<!-- fonts -->

<link rel="stylesheet" href="/ace/assets/css/ace-fonts.css" />

<!-- ace styles -->

<link rel="stylesheet" href="/ace/assets/css/ace.min.css" />
<link rel="stylesheet" href="/ace/assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="/ace/assets/css/ace-skins.min.css" />

<!--[if lte IE 8]>
<link rel="stylesheet" href="/ace/assets/css/ace-ie.min.css" />
<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->

<!--script src="/ace/assets/js/ace-extra.min.js"></script-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
<script src="/ace/assets/js/html5shiv.js"></script>
<script src="/ace/assets/js/respond.min.js"></script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="/css/list.css">

<script data-main="/js/main" src="/js/require.js"></script>
<script data-main="/js/main" src="/js/fileupload.js"></script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-32099440-1']);
_gaq.push(['_trackPageview', '/user.html']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
