<table id="items" style="width:100%;">
  
  <thead>
    <tr style="background-color:#eee;">
      <td colspan="3">
        <div class="checkbox" style="margin:0;">
	        <label>
		        <input type="checkbox" class="ace" id="checkall" />
		        <span class="lbl smaller-75"> Check all</span>
	        </label>
        </div>
      </td>
      <td width="40%">
        <div class="title" data-field="mod.Title">
          Title
          <i class=""></i>
        </div>
      </td>
      <td>
        <div class="ItemID" data-field="org.ItemID">
          ItemID
          <i class=""></i>
        </div>
        <div class="UserID" data-field="UserID">
          UserID
          <i class=""></i>
        </div>
      </td>
      <td>
        <div class="HitCount" data-field="org.HitCount">
          <i class=""></i>
          Hit
        </div>
        <div class="WatchCount" data-field="org.WatchCount">
          <i class=""></i>
          Wch
        </div>
      </td>
      <td>
        <div class="BidCount" data-field="org.SellingStatus.BidCount">
          <i class=""></i>
          Bid
        </div>
        <div class="SoldCount" data-field="org.SellingStatus.QuantitySold">
          <i class=""></i>
          Sold
        </div>
      </td>
      <td>
        <div class="Quantity" data-field="mod.Quantity">
          <i class=""></i>
          Qty
        </div>
      </td>
      <td>
        <div class="StartPrice" data-field="mod.StartPrice">
          <i class=""></i>
          Price
        </div>
      </td>
      <td>
        <div class="EndTime" data-field="org.ListingDetails.EndTime">
          <i class="icon-chevron-up"></i>
          End
        </div>
      </td>
    </tr>
  </thead>
  <tr id="notfound">
    <td colspan="10" style="display:none; text-align:center; padding-top:100px; font-weight:bold; color:#999; font-size:150%;">
      No item data found.
    </td>
  </tr>

  <script id="itemTemplate" type="text/template">
    
    <tr id="{{id}}" class="row1">
      <td>
	    <label class="inline">
          
          [[ if (typeof(status) == 'string' && status != '') { ]]
          
		  <input type="checkbox" class="ace" name="id" value="{{id}}"
                 checked="checked" style="display:none;"/>
          <i class="icon-spinner icon-spin"></i>
		  <span class="lbl"></span>
          
          [[ } else { ]]
          
		  <input type="checkbox" class="ace" name="id" value="{{id}}" />
		  <span class="lbl"></span>
          
          [[ } ]]
          
	    </label>
      </td>
      <td>
        [[ if (typeof(org) == 'object') { ]]
        [[ if (org.SellingStatus.ListingStatus == 'Active') { ]]
        <i class="icon-play green"></i>
        [[ } else if (org.SellingStatus.ListingStatus == 'Completed') { ]]
        <i class="icon-stop grey smaller-75"></i>
        [[ } ]]
        [[ } else { ]]
        <i class="icon-edit grey"></i>
        [[ } ]]
      </td>
      <td style="width:40px; text-align:center;">
        [[ if (mod && mod.PictureDetails) { ]]
        <img src="/image/?url={{mod.PictureDetails.PictureURL}}" 
             class="img-rounded" 
             style="max-width:40px; max-height:40px;" />
        [[ } else { ]]
        <img src="/img/noimage.jpg"
             class="img-rounded" 
             style="max-width:40px; max-height:40px;" />
        [[ } ]]
      </td>
      <td style="max-width:30%;">
        [[ if (typeof(UserID) == 'string') { ]]
        
        [[ if (typeof(mod.Title) == 'string' && mod.Title != '') { ]]
        <a href="/#/items/{{UserID}}/{{id}}" class="Title bigger-110">{{mod.Title}}</a>
        [[ } else { ]]
        <a href="/#/items/{{UserID}}/{{id}}" class="Title bigger-110">(empty title)</a>
        [[ } ]]
        
        [[ } ]]
        
        [[ if (typeof(opt) == 'object') { ]]
        [[ if (opt.hasOwnProperty('tags')) { ]]
        <div class="pull-right">
          [[ for (i = 0; i < opt.tags.length; i++) { ]]
          <span class="label label-sm label-info">{{opt.tags[i]}}</span>
          [[ } ]]
        </div>
        [[ } ]]

        [[ if (opt.hasOwnProperty('template') && opt.template == 'true') { ]]
        <div class="pull-right">
          <span class="label label-sm">Template</span>&nbsp;
        </div>
        [[ } ]]
        
        [[ } ]]
        
        [[ if (typeof(status) == 'string' && status != '') { ]]
        
        <ul class="list-unstyled">
          <li class="text-warning">
            {{status}}
          </li>
        </ul>
        
        [[ } else if (typeof(error) == 'object' && error != null) { ]]
        
        <ul class="list-unstyled">
          [[ for(i = 0; i < error.length; i++) { ]]
          [[ if (error[i].SeverityCode == 'Warning') continue; ]]
          <li class="text-danger">
            <i class="icon-warning-sign red"></i>
            {{-error[i].ShortMessage}}<br/>
          </li>
          
          [[ if (error[i].LongMessage != error[i].ShortMessage) { ]]
          <li class="text-danger">
            <i class="icon-warning-sign red"></i>
            {{-error[i].LongMessage}}<br/>
          </li>
          [[ } ]]
          
          [[ } ]]
        </ul>
        
        [[ } ]]
        
      </td>
      <td>
        <div>
          [[ if (typeof(org) == 'object') { ]]
          <a href="{{org.ListingDetails.ViewItemURL}}" class="ItemID" target="_blank">
            {{org.ItemID}}
          </a>
          [[ } else { ]]
          -
          [[ } ]]
        </div>
        <div class="UserID">
          [[ if (typeof(UserID) == 'string') { ]]
          {{UserID}}
          [[ } ]]
        </div>
      </td>
      <td>
        <div class="HitCount">
          [[ if (typeof(org) == 'object' && org.hasOwnProperty('HitCount')) { ]]
          {{org.HitCount}}
          [[ } else { ]]
          -
          [[ } ]]
        </div>
        <div class="WatchCount">
          [[ if (typeof(org) == 'object' && org.hasOwnProperty('WatchCount')) { ]]
          {{org.WatchCount}}
          [[ } else { ]]
          -
          [[ } ]]
        </div>
      </td>
      <td>
        <div class="BidCount">
          [[ if (typeof(org) == 'object' && org.SellingStatus.hasOwnProperty('BidCount')) { ]]
          {{org.SellingStatus.BidCount}}
          [[ } else { ]]
          -
          [[ } ]]
        </div>
        <div class="SoldCount">
          [[ if (typeof(org) == 'object' && org.SellingStatus.hasOwnProperty('QuantitySold')) { ]]
          {{org.SellingStatus.QuantitySold}}
          [[ } else { ]]
          -
          [[ } ]]
        </div>
      </td>
      <td class="Quantity">
        [[ if (typeof(mod) == 'object') { ]]
        {{mod.Quantity}}
        [[ } ]]
      </td>
      <td>
        <div class="CurrentPrice">
        </div>
        <div class="StartPrice">
          [[ if (typeof(mod) == 'object' && typeof(mod.StartPrice) == 'object') { ]]
          [[ if (mod.StartPrice['@currencyID'] == 'USD') { ]]
          <i class="icon-usd"></i>
          [[ } else if (mod.StartPrice['@currencyID'] == 'GBP') { ]]
          <i class="icon-gbp"></i>
          [[ } else if (mod.StartPrice['@currencyID'] == 'EUR') { ]]
          <i class="icon-eur"></i>
          [[ } else if (mod.StartPrice['@currencyID'] == 'INR') { ]]
          <i class="icon-inr"></i>
          [[ } else if (mod.StartPrice['@currencyID'] == 'CNY') { ]]
          <i class="icon-cny"></i>
          [[ } else { ]]
          {{mod.StartPrice['@currencyID']}}
          [[ } ]]
          {{mod.StartPrice['#text']}}
          [[ } ]]

          [[ if (mod.ListingType == 'FixedPriceItem') { ]]
          <div class="light-grey smaller-80">
            Buy it Now
          </div>
          [[ } else if (mod.ListingType == 'PersonalOffer') { ]]
          <div class="light-grey smaller-80">
            Personal Offer
          </div>
          [[ } ]]
        </div>
      </td>
      <td>
        <div class="EndTime">
          [[ if (typeof(endtime) == 'string') { ]]
          {{endtime}}
          [[ } ]]
        </div>
        <div class="StartTime smaller-80">
          [[ if (typeof(scheduletime) == 'string') { ]]
          Start {{scheduletime}}
          [[ } ]]
        </div>
      </td>
    </tr>
    
    [[ if (typeof(transactions) == 'object') { ]]
    <% include items-table-transactions %>
    [[ } ]]
    
    [[ if (typeof(bids) == 'object') { ]]
    [[ for(i = 0; i < bids.length; i++) { ]]
    [[ if (bids[i] == null) continue; ]]
    <tr class="rowbid" data-id="{{id}}"
        [[ if (i >= 1) { ]]
        style="display:none;"
        [[ } ]]
        >
      <td colspan="4" style="background-color:#fff; text-align:right;">
        [[ if (bids.length > 1 && i == 0) { ]]
        <a href="#" class="showbids" data-id="{{id}}">
          [[ if (bids.length == 2) { ]]
          show {{(bids.length-1)}} bid
          [[ } else { ]]
          show {{(bids.length-1)}} bids
          [[ } ]]
        </a>
        [[ } ]]
      </td>
      <td>
        {{bids[i].User.UserID}}
        ({{bids[i].User.FeedbackScore}})
      </td>
      <td colspan="2" style="text-align:right;">
        <a href="#" class="show-2nd-offer-form">2nd offer</a>
      </td>
      <td style="text-align:right;">
        {{bids[i].User.BuyerInfo.ShippingAddress.Country}}
      </td>
      <td style="text-align:right;">
        
        [[ if (bids[i].HighestBid['@'].currencyID == 'USD') { ]]
        <i class="icon-usd"></i>
        [[ } else if (bids[i].HighestBid['@'].currencyID == 'GBP') { ]]
        <i class="icon-gbp"></i>
        [[ } else if (bids[i].HighestBid['@'].currencyID == 'EUR') { ]]
        <i class="icon-eur"></i>
        [[ } else if (bids[i].HighestBid['@'].currencyID == 'INR') { ]]
        <i class="icon-inr"></i>
        [[ } else if (bids[i].HighestBid['@'].currencyID == 'CNY') { ]]
        <i class="icon-cny"></i>
        [[ } else { ]]
        {{bids[i].HighestBid['@'].currencyID}}
        [[ } ]]
        {{bids[i].HighestBid['#text']}}
        
      </td>
      <td style="text-align:right;">
        {{bids[i].TimeBid}}
      </td>
    </tr>
    <tr class="row-2nd-offer-form" data-id="{{id}}" style="display:none;">
      <td colspan="4" style="background-color:#fff; text-align:right;">
      </td>
      <td colspan="6">
        
        <textarea name="SellerMessage" class="form-control" rows="2"
                  placeholder="Add a personal message"></textarea>
        
        Offer duration
        <select name="Duration">
          <option value="Days_1">1 day</option>
          <option value="Days_3">3 days</option>
          <option value="Days_5">5 days</option>
          <option value="Days_7">7 days</option>
        </select>
        
				<input type="hidden" name="ItemID" value="{{org.ItemID}}">
				<input type="hidden" name="UserID" value="{{UserID}}">
				<input type="hidden" name="RecipientBidderUserID" value="{{bids[i].User.UserID}}">
				
        <button class="btn btn-xs send-2nd-chance-offer-button"
								data-id="{{id}}">
          <%= __('SendSecondChanceOffer') %>
        </button>
        
      </td>
    </tr>
    [[ } ]]
    [[ } ]]
    
    [[ if (typeof(membermessages) == 'object') { ]]
    [[ for(i = 0; i < membermessages.length; i++) { ]]
    [[ if (membermessages[i].MessageStatus == 'Answered') continue; ]]
    <tr class="rowmembermessages">
      <td colspan="4" style="background-color:#fff; text-align:right;">
      </td>
      <td>
        {{membermessages[i].Question.SenderID}}
      </td>
      <td colspan="2" style="text-align:right;">
				<a href="#" class="replybutton">Reply</a>
      </td>
      <td colspan="2" style="text-align:right;">
        <span class="label label-sm label-danger">
          {{membermessages[i].MessageStatus}}
        </span>
      </td>
      <td style="text-align:right;">
        {{membermessages[i].CreationDate}}
      </td>
    </tr>
    <tr class="rowmembermessages-body">
      <td colspan="4" style="background-color:#fff; text-align:right; border:0px none;">
      </td>
      <td colspan="6">
        <i>{{membermessages[i].Question.Body.replace(/[\n]/g, '<br/>')}}</i>
        <textarea name="body" class="form-control" rows="3"
									style="display:none;"></textarea>
        <button class="btn btn-xs respondbutton"
								style="display:none;"
                data-id="{{id}}"
                data-userid="{{UserID}}"
                data-itemid="{{org.ItemID}}"
                data-parent="{{membermessages[i].Question.MessageID}}"
                data-sender="{{membermessages[i].Question.SenderID}}">
          <%= __('Respond') %>
        </button>
      </td>
    </tr>
    [[ } ]]
    [[ } ]]
                      
    <tr id="{{id}}-row2" style="border-bottom:1px solid #ccc;" class="row2">
      <td colspan="10" id="{{id}}-detail">
				<div class="message-loading-overlay hide" id="{{id}}-loading">
					<i class="icon-spin icon-spinner orange2 bigger-160"></i>
				</div>
      </td>
    </tr>
    
  </script>
  
  <script id="detailTemplate" type="text/template">
    <% include detail-template %>
  </script>
  
</table>
