	<div class="pull-left">
		<div class="messagebar-item-left">
			<label class="inline middle">
				<input type="checkbox" id="id-toggle-all" class="ace" />
				<span class="lbl"></span>
			</label>

			&nbsp;
			<div class="inline position-relative">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">
					<i class="icon-caret-down bigger-125 middle"></i>
				</a>

				<ul class="dropdown-menu dropdown-lighter dropdown-100">
					<li>
						<a id="id-select-message-all" href="#">All</a>
					</li>

					<li>
						<a id="id-select-message-none" href="#">None</a>
					</li>

					<li class="divider"></li>

					<li>
						<a id="id-select-message-unread" href="#">Unread</a>
					</li>

					<li>
						<a id="id-select-message-read" href="#">Read</a>
					</li>
				</ul>
			</div>
		</div>

	</div>

<div class="pull-left">
  Title
</div>

<div class="pull-right" style="margin-right:10px;">
  End
</div>
<div class="pull-right" style="margin-right:10px;">
  Price
</div>
<div class="pull-right" style="margin-right:10px;">
  Qty
</div>
<div class="pull-right" style="margin-right:10px;">
  <div>Bid</div>
  <div>Sold</div>
</div>
<div class="pull-right" style="margin-right:10px;">
  <div>Hit</div>
  <div>Watch</div>
</div>
<div class="pull-right" style="margin-right:10px;">
  <div>ItemID</div>
  <div>UserID</div>
</div>
