<div class="col-xs-12">
  
	<ul class="ace-thumbnails pictures clearfix">
		<li class="template">
			<a href="/ace/assets/images/gallery/image-2.jpg" 
         title="Photo Title" data-rel="colorbox" target="_blank"
         style="display:table-cell; vertical-align:middle; width:150px; height:150px; text-align:center; background-color:#f5f5f5;">
				<img src="/ace/assets/images/gallery/thumb-2.jpg" />
			</a>
			<div class="tools tools-bottom">
				<a href="#">
					<i class="icon-link"></i>
				</a>
				<a href="#">
					<i class="icon-remove red"></i>
				</a>
			</div>
		</li>
  </ul>
  
  <div class="picturesforms">
    <form method="post" action="/node/file/upload"
          target="posttarget" enctype="multipart/form-data"
          id="{{id}}-picturesform">
      
      <input type="hidden" name="id" value="{{id}}" />
      <input type="hidden" name="divclass" value="pictures" />
      <input type="hidden" name="userid" value="" />
      
      Upload images from your computer
      <input type="file" name="fileUpload" multiple="multiple"/>
      <div style="color:#999; font-size:90%; margin-bottom:10px;">
        You can select multiple files at once. (max 12 images)
      </div>
    </form>
    
    <form class="webimageform" method="post" action="/">
      Use self hosted images
      <input type="text" name="webimageurl" size="30" 
             placeholder="Input url of self hosted image" />
      <button class="webimageformbutton">UPLOAD</button>
      <div style="color:#999; font-size:90%; margin-bottom:10px;">
        You can use only one image.
      </div>
    </form>
  </div>
  
</div>

<div style="clear:both;"></div>
