<div class="description">
  <textarea name="mod.Description" style="height:300px;"></textarea>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="mod.Site">
    <h5 class="bolder smaller">
      <%= __('ListingDesigner') %>
    </h5>
  </label>
	<div class="col-sm-4">
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="mod.Site">
    <%= __('SelectTheme') %>
  </label>
	<div class="col-sm-4">
    <select name="ListingDesigner.GroupID" class="form-control">
      <option value=""></option>
    </select>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="mod.Site">
    <%= __('SelectDesign') %>
  </label>
	<div class="col-sm-4">
    <select name="mod.ListingDesigner.ThemeID" class="form-control">
      <option value=""></option>
    </select>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="mod.Site">
    <%= __('HitCounter') %>
  </label>
	<div class="col-sm-4">
    <select name="mod.HitCounter" class="form-control">
      <option value=""></option>
      <option value="BasicStyle">BasicStyle</option>
      <option value="GreenLED">GreenLED</option>
      <option value="Hidden">Hidden</option>
      <option value="HiddenStyle">HiddenStyle</option>
      <option value="HonestyStyle">HonestyStyle</option>
      <option value="NoHitCounter">NoHitCounter</option>
      <option value="RetroStyle">RetroStyle</option>
    </select>
	</div>
</div>
