<div class="form-group">
	<label for="UserID" class="col-sm-3 control-label no-padding-right">
    <%= __('PaymentMethods') %>
  </label>
	<div class="col-sm-8" data-form="paymentmethod">
    
	</div>
</div>
