<html>
<body>
  
  <div class="header">
    This mail was sent you for reset password.
  </div>

  <div>
    Please click following link and input your new password.<br/>
    <div class="button">
      <a href="https://listers.in/node/reset_password?t=<%= tmptoken %>">
        Reset password
      </a>
    </div>
  </div>
  
  <div class="footer">
    ListersIn - eBay Listing Software
  </div>

</body>
</html>
