<html>
<body>
  
  <div class="navbar">
		<div class="navbar-container" id="navbar-container">
      <div class="navbar-header pull-left">
	      <a href="https://listers.in/" class="navbar-brand">listers.in</a>
        <span class="white">
          eBay listing software
        </span>
      </div>
    </div>
  </div>
  
  <div style="background-color:#fff;">
    
    <div class="page-header">
      <h1>Send a second chance offer</h1>
    </div>
    
    <div>
      <p>
        If you're not able to complete the sale with the winning bidder of an auction, 
        or if you have duplicate items for sale,
        you can send a Second Chance Offer to anyone who bid on your listing 
        (except for the winning bidder). 
        If you have more than one duplicate item for sale, 
        you can send more than one Second Chance Offer.
      </p>
      <p>
        When you send a Second Chance Offer, 
        you give the bidder the chance to buy the item at a Buy It Now price equal to their last bid amount. 
        It's up to the buyer to decide whether to accept the offer.
      </p>
    </div>
    <div class="center">
      <p>
        You can send a second chance offer with following form in &quot;Sold&quot; item list.
      </p>
      
      <div class="space-6"></div>
      
      <div>
        <img src="http://listers.in/blog/wp-content/uploads/2014/04/shot-2014-04-16_21-37-01-500x205.jpg" />
      </div>
      
      <div class="space-6"></div>
      
      <div>
        <a href="https://listers.in/" class="btn btn-primary">
          Go to listers.in
        </a>
      </div>
    </div>
    
    <div class="space-20"></div>
    
    <div class="center grey">
      If you do not wish to receive information emails,
      sign in to <a href="https://listers.in/">listers.in</a>
      and set "Receive information emails" to off in "Settings" menu.
    </div>
    
    <div class="space-6"></div>
    
    <div class="center">
      listers.in - eBay Listing Software
    </div>
    
  </div>
  
</body>
</html>
