<!DOCTYPE html>
<html lang="en">
  <head>
    <% include list/head %>
  </head>
  <body class="navbar-fixed breadcrumbs-fixed">
    
    <div class="navbar navbar-default navbar-fixed-top" id="navbar">
      <div class="navbar-container" id="navbar-container">
        <div id="message"></div>
        <% include list/navbar %>
      </div>
    </div>
    
    <div class="main-container" id="main-container">
      <div class="main-container-inner">
        
        <div class="sidebar sidebar-fixed" id="sidebar">
          <% include list/sidebar %>
        </div>
        
        <div class="main-content">
          <div class="page-content" id="page-content">
            
            <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
              
              <div class="pull-left" id="bulkbuttons">
                
                <div class="btn-group">
                  <button class="btn btn-sm disabled" data-action="copy">
                    <i class="icon-copy"></i>
                    <%= __('Copy') %>
                  </button>
                  <button class="btn btn-sm disabled" data-action="delete">
                    <i class="icon-remove"></i>
                    <%= __('Delete') %>
                  </button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-sm disabled btn-yellow" data-action="add">
                    <i class="icon-legal"></i>
                    <%= __('List') %>
                  </button>
                  <button class="btn btn-sm disabled btn-yellow" data-action="relist">
                    <i class="icon-refresh"></i>
                    <%= __('Relist') %>
                  </button>
                  <button class="btn btn-sm disabled btn-yellow" data-action="end">
                    <i class="icon-stop"></i>
                    <%= __('End') %>
                  </button>
                </div>
                
                <div class="nav-search" id="nav-search">
                  <span class="input-icon">
                    <input type="text" placeholder="Search ..."
                           class="nav-search-input"
                           id="nav-search-input2"
                           autocomplete="off" />
                    <i class="icon-search nav-search-icon"></i>
                  </span>
                </div>
                
              </div><!-- /.pull-left -->
              
              <div style="display:none;">
                <% include list/filter %>
              </div>
              <div id="listcount" class="pull-right">
              </div>
            </div>
            
            <div id="expired" class="alert alert-danger hide">
              <b>
                Your account was expired.
              </b>
            </div>
            
            <div class="row">
              <div class="col-xs-12">
                
                <% include list/items-table %>
                
                <div id="settings">
                  <div class="page-header">
                    <h1><i class="icon-cog"></i> Settings</h1>
                  </div>
                  <% include list/settings %>
                </div>
                
                <div id="userlog">
                  <div class="page-header">
                    <h1><i class="icon-lock"></i> History</h1>
                  </div>
                  <% include list/userlog %>
                </div>
                
                <div id="help">
                  <div class="page-header">
                    <h1><i class="icon-question-sign"></i> Help</h1>
                  </div>
                  <% include list/help %>
                </div>
                
                <div id="debug">
                  DEBUG
                </div>
                
                <div class="message-loading-overlay hide" id="loading">
                  <i class="icon-spin icon-spinner orange2 bigger-160"></i>
                </div>
                
              </div>
            </div>
            
            <iframe name="posttarget" src="/blank.html"></iframe>
    
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->
        
      </div><!-- /.main-container-inner -->
    </div><!-- /.main-container -->
    
    <% include list/foot.ejs %>
    
  </body>
</html>
