<html>
<body>
  
  <div class="header">
    Thank you for signing up for ListersIn!
  </div>

  <div>
    Please click following link and complete sign up.<br/>
    <div class="button">
      <a href="https://listers.in/node/signup_confirm?t=<%= tmptoken %>">
        Complete sign up
      </a>
    </div>
  </div>

  <div>
    We would like to hear from you!<br/>
    What kind of functions do you need for third party eBay listing software?<br/>
    Please just reply to this email:)<br/>
    <br/>
    For example:
    <ul>
      <li>Manage multiple eBay accounts.</li>
      <li>Image hosting server.</li>
      <li>Multiple items bulk editing tool. (Find and replace)</li>
      <li>Item duplication checker.</li>
      <li>Manage other ecommerce platforms.(Amazon, etc.)</li>
      <li>Auto relist after item is unsold.</li>
      <li>Scheduled listing without additional fee.</li>
      <li>Keyboard shortcut for faster operation on daily tasks.</li>
    </ul>
  </div>
  
  <div class="footer">
    ListersIn - eBay Listing Software
  </div>

</body>
</html>
